
/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #007B83; /* Cor principal */
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-right .user-avatar {
  border: 2px solid #fff;
}

.navbar-right .dropdown-menu {
  background-color: #fff;
  border: 1px solid #007B83;
}

.navbar-right .dropdown-menu button {
  color: #007B83;
}

.navbar-right .dropdown-menu button:hover {
  background-color: #F0F7F6;
  color: #004D40;
}

/* Layout com menu lateral */
.layout {
  display: flex;
  height: calc(100vh - 60px); /* desconta altura do navbar */
}

/* MENU LATERAL */
.sidebar {
  width: 220px;
  background-color: #006d77; /* Azul petróleo */
  color: #fff;
  padding: 1rem;
  border-right: 2px solid #20b2aa; /* Verde água */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar li:hover {
  background-color: #20b2aa;
}

/* Container do avatar e menu */
.user-menu {
  position: relative;
  display: inline-block;
}

/* Avatar */
.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer; 
  border: 2px solid #fff;
}

/* Menu dropdown */
.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  border: 1px solid #007B83;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Classe ativada pelo clique */
.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: #fff;
  color: #007B83;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu button:hover {
  background: #F0F7F6;
}



.filtro-relatorio {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  font-weight: bold;
  color: #007B83;
  margin-bottom: 4px;
}

.form-control {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 150px;
}

.btn-exportar {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  background-color: #4DB6AC;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s;
}

.btn-exportar:hover {
  background-color: #007B83;
}