<div class="forgot-password-wrapper">
  <div class="forgot-password-box shadow">
    <div class="text-center mb-4">
      <img src="assets/logo-vcadfinantial.png" alt="VCadFinantial" class="forgot-logo" />
    </div>

    <p class="info-text">
      Digite a nova senha para concluir o processo de recuperação:
    </p>

    <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="updatePassword()">
      <!-- Campo: Nova Senha -->
      <div class="form-group">
        <label for="newPassword" class="form-label">Nova Senha:</label>
        <input
          type="password"
          id="newPassword"
          class="form-control form-control-sm"
          formControlName="newPassword"
          placeholder="Digite sua nova senha"
          required
        />

        <!-- Erros comuns -->
        <div *ngIf="newPassword?.touched && newPassword?.invalid" class="error-message">
          <div *ngIf="newPassword?.errors?.['required']">Campo obrigatório.</div>
          <div *ngIf="newPassword?.errors?.['minlength']">Mínimo de 8 caracteres.</div>
        </div>

        <!-- Políticas de senha -->
        <ul class="error-message ps-3" *ngIf="newPassword?.errors?.['passwordPolicy'] && newPassword?.touched">
          <li>Deve conter pelo menos uma letra maiúscula</li>
          <li>Deve conter pelo menos uma letra minúscula</li>
          <li>Deve conter pelo menos um número</li>
          <li>Deve conter pelo menos um caractere especial</li>
        </ul>
      </div>

      <!-- Campo: Confirmar Nova Senha -->
      <div class="form-group">
        <label for="confirmPassword" class="form-label">Confirmar Nova Senha:</label>
        <input
          type="password"
          id="confirmPassword"
          class="form-control form-control-sm"
          formControlName="confirmPassword"
          placeholder="Confirme sua nova senha"
          required
        />

        <!-- Erros -->
        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="error-message">
          <div *ngIf="confirmPassword?.errors?.['required']">Campo obrigatório.</div>
          <div *ngIf="confirmPassword?.errors?.['passwordMismatch']">As senhas não coincidem.</div>
        </div>
      </div>

      <!-- Botão -->
      <button type="submit" class="btn btn-confirm">
        Atualizar Senha
      </button>
    </form>
  </div>
</div>